html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
}

nav {
  background-color: #424242;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li:first-child {
  float: left;
  font-size: 1.5em;
  padding: .5em .5em .5em .75em;
}

nav li {
  float: right;
  font-size: 1.5em;
  padding: .5em .75em .5em .5em;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

main {
  text-align: center;
  margin: 1.5em 5em 5em;
}

#my-pic {
  border-radius: 50%;
  border: 2px solid #58595b;
}

footer {
  background-color: #9e9e9e;
  width: 100%;
  bottom: 0;
  position: fixed;
  clear: both;
  text-align: center;
}

.resize {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin: 0;
  padding: .2em;
}

footer p {
  float: left;
  padding-left: .5em;
}

@media only screen and (max-width: 500px) {
  nav li {
    padding: .5em;
  }
}