html {
	background-color: #7F7E7F;
	color: white;
}
header {
	position: static;
	width: 100%;
	background-color: #0A1E40;
	height: 190px;
	left: 0;
}
header img {
	width: 150px;
	height: 180px;
	float: left;
	margin: .4em;
	display: inline-block;
}
header h1 {
	position: absolute;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    font-size: 600%;
    text-align: center;
    vertical-align: middle;
    line-height: 190px;
    display: inline-block;
    margin: auto;
}
header form {
	top: 2em;
    right: 2em;
    display: inline-block;
    position: absolute;
}
}
body {
	width: 100%;
}
nav {
	position: relative;
	width: 100%;
	background-color: #BFBEBE;
	border: 1px solid black;
}
nav a {
	display: inline-block;
	margin-left: 5em;
	margin-right: 5em;
	white-space: nowrap;
	text-align: center;
}
main {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	position: relative;
	float: left;
	display: inline-block;
	background-color: #7F7E7F;
	width: 80%;
	margin-left: 1em;
	padding-bottom: 2em;
}
.resize {
	height: 50px;
	width: 50px;
}
aside {
	display: inline-block;
	position: fixed;
	right: 0px;
	background-color: #BFBEBE;
	border: 1px solid black;
	width: 50px;
	height: 450px;
	right: 0;
}
footer {
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	background-color: #0A1E40;
	width: 100%;
	left: 0;
	bottom: 0;
	position: fixed;
}
