body {
  margin: 0px;
}

nav {
  background-color: #424242;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li:first-child {
  float: left;
  font-size: 2em;
  padding: .2em;
}

nav li {
  float: right;
  font-size: 1.5em;
  padding: .5em;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

footer {
  background-color: #9e9e9e;
  width: 100%;
  bottom: 0;
  position: fixed;
  clear: both;
  text-align: center;
}

.resize {
  height: 50px;
  width: 50px;
  /*float: right;*/

  vertical-align: middle;
  margin: 0;
  padding: .2em;
}

footer p {
  float: left;
  padding-left: .5em;
}