html {
	background-color: white;
}

header {
	clear: both;
	margin: 0;
	padding:0;
	width: 100%;
	background-color: #0288D1;
}

/*
header h1 {
	-webkit-text-stroke: 1px black;
   	color: white;
   	text-shadow:
      3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    position: absolute;
    font-weight: lighter;
    font-family: "Oswald", sans-serif;
    font-size: 8em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    white-space: nowrap;
    padding-top: .2em;
    padding-right: .75em;
    padding-bottom: .2em;
    padding-left: .75em;
}
*/

nav {
	width: 100%;
	background-color: #424242;
}

body {
  margin: 0;
  padding: 0;
  background: #ccc;
}

nav ul {
  list-style: none;
  background-color: #424242;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 4em;
  margin-right: 4em;
  white-space: nowrap;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

nav a:hover {
  background-color: #1DB4FF;
}

nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


main {
	color: black;
	clear: both;
	font-family: 'Merriweather', serif;
	position: relative;
	float: left;
	display: inline-block;
	width: 80%;
	margin-left: 3em;
	padding-bottom: 3em;
}

#my-pic {
	border-radius: 50%;
	display: block;
	margin-left: 50%;
	margin-top: 12.5%;
	vertical-align: middle;
}

footer {
	font-weight: lighter;
	font-family: 'Merriweather', serif;
	background-color: #9e9e9e;
	min-width: 100%;
	left: 0;
	bottom: 0;
	position: fixed;
	clear: both;
}

.resize {
	height: 50px;
	width: 50px;
	float: right;
	vertical-align: middle;
	margin: 0;
}

footer p {
	vertical-align: bottom;
	position: fixed;
	clear: both;
  color: black;
}