.project-name {
  text-align: left;
  margin-bottom: 0;
}

.project-name a {
  text-decoration: none;
  color: #58595b;
}

.project-name a:hover {
  /*text-decoration: none;*/
  background-color: #58595b;
  color: white;
}

.project-date {
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.project-desc {
  margin-top: 0;
  text-align: left;
}